*.code-workspace
*.bcf
*.aux
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.fdb_latexmk
*.bbl
*.blg
*.pdf
*.toc
*.lof
*.ist
*.gls
*.gls-abr
*.acn
*.glo
*.glo-abr
*.glg
*.glg-abr
*.acr
*.alg
*.snm
*.nav
*.vrb
*blx.bib
_minted*
instructions/
